* {
  margin: 0;
  padding: 0;
  border: 1px solid grey;
}

/* ------ HEADER ------*/
header {
  background-image: url(../images/coden.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  padding-bottom: 100%;
}
.header-nav {
  background-color: rgba(247,217,245,43);
  text-decoration: none;
  text-align: center;
}
